/* http://www.windesheim.nl/studeren/studie-kiezen/verzamel/vraag-een-brochure-aan/ */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font: 0.875em/1.5714285714 sans-serif;
    color: #444;
    font-size: 12px;
}

.container {
    width: 600px;
}

.reminder{
  background-color: #E5ECF2;
  width: 100%;
  padding: 5px;
}
.reminder img {
  float: left;
}
.reminder a {
  color: #444;
}


h1 {
    font-family: "Sheriff", sans-serif !important;
    margin-bottom: 0.7857142857rem;
    font-weight: normal;
    line-height: 1.25;
    color: #00418c;
    margin-top:0;
}

/*Form */
legend {
    color: #00418c;

    border: none;
    padding: 0;
}

label {
    text-align: left !important;
    font-weight: normal;
}

textarea {
    overflow: auto;
}

.btn {
    float:right;
    text-transform: uppercase;
    border-radius: 0;
    background: #d7a500;
    color: #fff;
    text-shadow: none;
}

footer{
    padding: 15px;
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}




